

body {
  background-color: #FD4F53;
}

.status {
  display: inline-block;
}
#statusContainer {
  display: inline-block;
  width: 100%;
}
.weather-container {
  width: 400px;
  height: 300px;
  margin: 10% auto auto auto;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 3em;
  background-color: #FD4F53;
  border-style: solid;
  border-width: 2px;
  border-color: fff#;
}
.changeLocation {
  width: 400px;
  height: 100px;
  margin: 0 auto auto auto;
  display: block;
  text-align: center;
}

.unit-container {
  display: block;
  margin: auto auto auto auto;
  width 400px;
  height: 100px;
  text-align: center;
}

button {
  text-align: center;
  margin: auto 5% auto 5%;
  font-size: 1.5em;
  text-decoration: none;
  background-color: #FD4F53;
  border-style: none;
  color: white;
}